# Ignore directories
.idea
.vscode
docs/
examples-demo/
public/
node_modules/
scripts/
src/
dist/models
dist/assets


# Ignore files
*.html
*.gif
*.md
tsconfig.json
tsconfig.node.json
vite.config.ts
.gitignore